[Unit]
Description=Varnish HTTP accelerator log daemon
After=varnish.service

[Service]
EnvironmentFile=-/etc/default/varnishlog
User={{ varnish.user|default('varnishlog') }}
Group={{ varnish.group|default('varnish') }}
ExecStart=/usr/bin/varnishlog -a -w /var/log/varnish/varnish.log
ExecReload=/bin/kill -HUP $MAINPID
PrivateDevices=true
PrivateNetwork=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=always

[Install]
WantedBy=multi-user.target
