---
root_prefix: ""

archive_db_name: "{{ vault_archive_db_name }}"
archive_db_user: "{{ vault_archive_db_user }}"
archive_db_password: "{{ vault_archive_db_password }}"
archive_db_host: dev00.cnx.org
archive_db_port: 5432
# FIXME (10-Apr-12017) db-role-perms: assign the role superuser privileges.
xxx_archive_db_user_role_attr_flags: 'SUPERUSER'

publishing_broker_user: "{{ vault_publishing_broker_user }}"
publishing_broker_password: "{{ vault_publishing_broker_password }}"

authoring_db_name: "{{ vault_authoring_db_name }}"
authoring_db_user: "{{ vault_authoring_db_user }}"
authoring_db_password: "{{ vault_authoring_db_password }}"
authoring_db_host: dev00.cnx.org
authoring_db_port: 5432

press_db_name: "{{ archive_db_name }}"
press_db_user: "{{ archive_db_user }}"
press_db_password: "{{ archive_db_password }}"
press_db_host: "{{ archive_db_host }}"
press_db_port: "{{ archive_db_port }}"
press_broker_user: "{{ vault_press_broker_user }}"
press_broker_password: "{{ vault_press_broker_password }}"

sentry_dsn: "{{ vault_sentry_dsn }}"

install_iptables: true

# FIXME Not really yaml'ish to use space separated values...
# Note, don't confuse the usage of 'hosts' here with ansible 'hosts'.
# 'hosts' is a space separated value containing hostnames or ip addresses
# where a memcached instance is running.
memcached_hosts: localhost

varnish_port: 8990
legacy_varnish_port: 8991

archive_host: dev00.cnx.org
publishing_host: dev00.cnx.org
authoring_host: dev00.cnx.org
zclient_base_port: 8280
zeo_base_port: 8100

zope_domain: legacy-dev.cnx.org
arclishing_domain: archive-dev.cnx.org
frontend_domain: dev.cnx.org
accounts_domain: accounts-qa1.openstax.org
tutor_domain: tutor-dev.openstax.org
exercises_domain: exercises-dev.openstax.org
cms_domain: oscms-dev.openstax.org

graylog_server: "{{ default_graylog_server }}"
graylog_port: 5140

accounts_disable_verify_ssl: yes
accounts_stub: yes

accounts_consumer_token: "{{ vault_accounts_consumer_token }}"
accounts_consumer_secret: "{{ vault_accounts_consumer_secret }}"

exercises_token: "{{ vault_exercises_token }}"

postgres_connections: "{{ vault_postgres_connections }}"

slack_token: "{{ vault_slack_token }}"

nfs_server_for_files1: dev00.cnx.org
nfs_server_for_files2: dev00.cnx.org
nfs_server_for_specials: dev00.cnx.org
nfs_server_for_varnish_logs: dev00.cnx.org

webview_version: master

princexml_deb_url: "http://www.princexml.com/download/prince_11-1_ubuntu16.04_amd64.deb"
