---
- name: install rsyslog-gnutls
  become: yes
  apt:
    name: rsyslog-gnutls
    state: present

- name: rsyslog conf template
  become: yes
  template:
    src: etc/rsyslog.conf
    dest: /etc/rsyslog.conf
    mode: 0644
  tags: rsyslog-conf

- name: rsyslog default conf template
  become: yes
  template:
    src: etc/rsyslog.d/50-default.conf
    dest: /etc/rsyslog.d/50-default.conf
    mode: 0644
  tags: rsyslog-conf

- name: rsyslog config for graylog
  become: yes
  template:
    src: etc/rsyslog.d/60-graylog.conf
    dest: /etc/rsyslog.d/60-graylog.conf
    mode: 0644
  notify: restart rsyslog
  tags: rsyslog-conf
  when:
    - graylog_server is defined
    - graylog_port is defined

- name: copy CA chain for graylog
  become: yes
  copy:
    src: "{{ role_path }}/files/etc/ssl/certs/ca-chain.pem"
    dest: /etc/ssl/certs/ca-chain.pem
    mode: 0644
    group: ssl-cert
  notify: restart rsyslog
  tags: rsyslog-conf
