---
# Installs publishing with all the dependencies.

# +++
# Init service
# +++

- name: configure publishing under supervisor
  become: yes
  template:
    src: etc/supervisor/conf.d/publishing.conf
    dest: "/etc/supervisor/conf.d/publishing.conf"
    mode: 0644
  notify:
    - reload supervisord

# XXX (26-May-12017) post-publishing moved to channel-processing
- name: configure post publication worker under supervisor
  become: yes
  file:
    path: "/etc/supervisor/conf.d/post_publication.conf"
    state: absent
  notify:
    - reload supervisord
# /XXX

# +++
# Rsyslog Configuration
# +++

- name: gather facts from frontend
  setup:
  delegate_to: "{{ item }}"
  delegate_facts: yes
  with_items:
    - "{{ groups.lead_frontend }}"
    - "{{ groups.frontend }}"
    - "{{ groups.legacy_frontend }}"

- name: connect publishing log to rsyslog
  become: yes
  template:
    src: "etc/rsyslog.d/10-publishing.conf"
    dest: "/etc/rsyslog.d/10-publishing.conf"
    mode: 0644
  notify:
    - set up supervisor logs
    - restart rsyslog
  tags:
    - publishing-rsyslog
