---
# Installs publishing with all the dependencies.

# +++
# Prerequisites
# +++

# TODO Kill this dependency by prebuilding or using packaged versions
#      of the application/library.
- name: install build utilities
  become: yes
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - build-essential
    - libxml2-dev
    - libxslt-dev
    - zlib1g-dev

- name: install postgres client
  become: yes
  apt:
    name: "postgresql-client-{{ postgres_version }}"
    state: present

# +++
# Install virtualenv(s)
# +++

- stat:
    path: "/var/cnx/venvs"
  register: venvs_dir

- name: ensure the venvs directory exists
  become: yes
  when: not venvs_dir.stat.exists
  file:
    path: "/var/cnx/venvs"
    state: directory
    mode: 0755
    owner: www-data

- name: set the owner of venvs directory
  become: yes
  file:
    path: "/var/cnx/venvs"
    state: directory
    recurse: yes
    owner: www-data

- name: create the publishing virtualenv
  become: yes
  become_user: www-data
  pip:
    name: pip
    virtualenv: "/var/cnx/venvs/publishing"
    virtualenv_python: python2

# +++
# Install
# +++

- name: ensure /var/www exists
  become: yes
  file:
    path: "/var/www"
    state: directory
    mode: 0755
    owner: www-data
    group: www-data

- name: ensure /var/lib/cnx exists
  become: yes
  file:
    path: "/var/lib/cnx"
    state: directory
    mode: 0755
    owner: www-data
    group: www-data

- name: copy over requirements.txt
  become: yes
  copy:
    src: "{{ inventory_dir }}/files/publishing-requirements.txt"
    dest: "/var/lib/cnx/publishing-requirements.txt"
    owner: www-data
    group: www-data
    mode: 0755

- name: install publishing
  become: yes
  become_user: www-data
  pip:
    requirements: "/var/lib/cnx/publishing-requirements.txt"
    virtualenv: "/var/cnx/venvs/publishing"

# +++
# Configure
# +++

- name: ensure the etc directories exists
  become: yes
  file:
    path: "/etc/{{ item }}"
    state: directory
    mode: 0755
  with_items:
    - cnx
    - cnx/publishing

- name: render configuration
  become: yes
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0744
    owner: root
    group: root
  with_items:
    - {src: "etc/cnx/publishing/app.ini",
       dest: "/etc/cnx/publishing/app.ini"}
    - {src: "etc/cnx/publishing/logging.yaml",
       dest: "/etc/cnx/publishing/logging.yaml"}
  notify:
    - restart publishing

# TODO make logging configuration files for pyramid_sawing

# +++
# Init databases
# +++

# Note, the setup current **assumes** that the publishing and archive database
# is the same database. There has been no reason to split these yet, so we won't.

# FIXME These initialize tasks run to failures. Ideally, it'd be nice if
#       they gracefully bailed out with a meaningful message.

- name: initialize publishing db
  command: "/var/cnx/venvs/publishing/bin/cnx-publishing-initdb /etc/cnx/publishing/app.ini"
  register: publishing_initdb_cmd
  # FIXME (30-Mar-2016) We need to fail with a more reliable message, rather than
  #       looking at the traceback line.
  failed_when: "publishing_initdb_cmd.rc > 0 and 'psycopg2.ProgrammingError: type \"publication_states\" already exists' not in publishing_initdb_cmd.stderr"

- name: initialize db-migrator
  when: "'already exists' not in publishing_initdb_cmd.stderr"
  command: "/var/cnx/venvs/publishing/bin/dbmigrator --config /etc/cnx/publishing/app.ini --context cnx-archive --context cnx-publishing init"

- name: migrate database
  command: "/var/cnx/venvs/publishing/bin/dbmigrator --config /etc/cnx/publishing/app.ini --context cnx-archive --context cnx-publishing migrate"

# +++
# Init service
# +++

- name: configure publishing under supervisor
  become: yes
  template:
    src: etc/supervisor/conf.d/publishing.conf
    dest: "/etc/supervisor/conf.d/publishing.conf"
    mode: 0644
  notify:
    - reload supervisord

- name: configure post publication worker under supervisor
  become: yes
  template:
    src: etc/supervisor/conf.d/post_publication.conf
    dest: "/etc/supervisor/conf.d/post_publication.conf"
    mode: 0644
  notify:
    - reload supervisord
