---
ansible_ssh_pipelining: true

# root_prefix: ""

postgres_version: 9.4

default_archive_base_port: 6500
default_publishing_base_port: 6600
default_authoring_base_port: 6400
default_press_base_port: 6700
default_zclient_base_port: 8280
default_zeo_base_port: 8100

# See http://docs.ansible.com/ansible/postgresql_user_module.html
# Change in group_vars or host_vars for environment specific settings
role_attr_flags: CREATEDB,NOSUPERUSER

default_replicator_db_user: replicator
default_haproxy_zcluster_port: 8888

default_publishing_broker_vhost: /publishing
default_press_broker_vhost: /press

# postgres_connections:
#   - name: <human readable name>
#     addr: <hostname | ip | mask>
#     database: <default: all>
#     user: <default: all>
#     method: <default: trust>

# archive_db_name: cnxarchive
# archive_db_user: cnxarchive
# archive_db_password: cnxarchive
# archive_db_host: localhost
# archive_db_port: 5432

# memcached_hosts: localhost, foobar, goocar

# authoring_db_name: cnxauthoring
# authoring_db_user: cnxauthoring
# authoring_db_password: cnxauthoring
# authoring_db_host: localhost
# authoring_db_port: 5432

# archive_host: 0.0.0.0
# publishing_host: 0.0.0.0
# authoring_host: 0.0.0.0

# zope_domain: legacy.cnx.org
# arclishing_domain: archive.cnx.org
# frontend_domain: cnx.org
# accounts_domain: accounts.openstax.org

default_graylog_server: graylog.cnx.org
default_graylog_port: 5140

default_archive_exports_directories:
  - files
  - files2
default_nfs_mounts:
  - name: /var/www/files
    src: /var/www/files
    server: "{{ nfs_server_for_files1|default('') }}"
  - name: /var/www/files2
    src: /var/www/files2
    server: "{{ nfs_server_for_files2|default('') }}"
  - name: /var/www/specials
    src: /var/www/specials
    server: "{{ nfs_server_for_specials|default('') }}"
  - name: /var/www/varnish_logs
    src: /var/www/varnish_logs
    server: "{{ nfs_server_for_varnish_logs|default('') }}"

# Used in combination with ``accounts_stub=true`` to provide a set of user
# names and passwords
accounts_stub_users: "{{ vault_accounts_stub_users }}"

# AWS secrets for dist.cnx.org
aws_secrets_region: us-east-2
dist_cnx_username_secret: /concourse/CE/dist-cnx-username
dist_cnx_password_secret: /concourse/CE/dist-cnx-password

# Lookup CE hosted credentials for dist.cnx.org pypi package server
dist_cnx_username: >-
  {{ lookup('aws_secret', dist_cnx_username_secret, region=aws_secrets_region)
     if (lookup('env', 'AWS_ACCESS_KEY_ID') or lookup('env', 'AWS_PROFILE')
       or lookup('file', '~/.aws/credentials', errors='ignore'))
     else dist_cnx_dev_username|default('') }}
dist_cnx_password: >-
  {{ lookup('aws_secret', dist_cnx_password_secret, region=aws_secrets_region)
     if (lookup('env', 'AWS_ACCESS_KEY_ID') or lookup('env', 'AWS_PROFILE')
       or lookup('file', '~/.aws/credentials', errors='ignore'))
     else dist_cnx_dev_password|default('') }}
