-r archive-requirements.txt

-e git+https://github.com/Connexions/cssselect2.git#egg=cssselect2
-e git+https://github.com/Connexions/cnx-easybake.git#egg=cnx-easybake

-e git+https://github.com/Connexions/openstax-accounts.git#egg=openstax-accounts
-e git+https://github.com/Connexions/cnx-publishing.git#egg=cnx-publishing

db-migrator==0.2.0
-e git+https://github.com/Connexions/cnx-db.git#egg=cnx-db

# Deployment specific dependencies
pyramid_sawing==1.1.2
waitress>=1.0,<2
