---

# These directories are used by the document importer
- name: create import build directories
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    owner: www-data
    group: www-data
  with_items:
    - /var/local/import-harvest
    - /var/local/import-harvest/latex
    - /var/local/import-harvest/latex/bad
    - /var/local/import-harvest/latex/good
    - /var/local/import-harvest/word
    - /var/local/import-harvest/word/bad
    - /var/local/import-harvest/word/good
  tags:
    - create-import-build-directories

# Install unoconv which installs LibreOffice

- name: install custom unoconv
  become: yes
  apt:
    name: unoconv
    state: present
  tags:
    - install-unoconv
  notify:
    - reload supervisord

- name: install packages for latex import
  become: yes
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - tralics
    - texlive-latex-base
    - imagemagick
  tags:
    - install-latex-import

# +++
# Configure
# +++

- name: configure zclient and unoconv in supervisor
  become: yes
  template:
    src: etc/supervisor/conf.d/zclients.conf
    dest: "/etc/supervisor/conf.d/zclients.conf"
    mode: 0644
  register: supervisor_conf_for_zclients
  notify:
    - reload supervisord

- name: restart zclients
  when: "{{ not supervisor_conf_for_zclients|changed }}"
  become: yes
  supervisorctl:
    name: "{{ item }}"
    state: restarted
  with_items: "[{% for i in range(0, hostvars[inventory_hostname].zclient_count|default(1), 1) %}'{{ 'zclient_instance{}'.format(i) }}',{% endfor %}]"
  tags:
    - restart-zclients
