-e git+https://github.com/Connexions/cnx-query-grammar.git#egg=cnx-query-grammar
-e git+https://github.com/Connexions/rhaptos.cnxmlutils.git#egg=rhaptos.cnxmlutils
-e git+https://github.com/Connexions/cnx-epub.git#egg=cnx-epub
-e git+https://github.com/Connexions/cnx-archive.git#egg=cnx-archive
-e git+https://github.com/Connexions/cnx-db.git#egg=cnx-db

db-migrator==0.1.4

# Deployment specific dependencies
pyramid_sawing==1.1.2
waitress>=1.0,<2
