# on production as cnx-query-grammar==0.2.1 Maybe?
cnx-query-grammar==0.2.2
# on production as rhaptos.cnxmlutils@19dc4204159c61fa698bcdf9579328aacc8066ab
rhaptos.cnxmlutils==1.2
cnx-epub==0.10.0
cnx-archive==2.5.1

db-migrator==0.1.4
cnx-db>=0.2

# Deployment specific dependencies
pyramid_sawing==1.1.2
waitress>=1.0,<2
