---
# Configure ZEO

# The buildout already contains a section to create the zeo process.
# In this task we only need to provide a way for the system to invoke
# and watch the process.

- name: configure zeo in supervisor
  become: yes
  template:
    src: etc/supervisor/conf.d/zeo.conf
    dest: "/etc/supervisor/conf.d/zeo.conf"
    mode: 0644
  register: supervisor_conf_for_zeo
  notify:
    - reload supervisord

- name: restart zeo
  when: "{{ not supervisor_conf_for_zeo|changed }}"
  become: yes
  supervisorctl2:
    name: zeo
    state: restarted
