amqp==2.4.2
billiard==3.6.0.0       
bravado-core==5.12.1
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
cnx-db==3.2.0
cnx-litezip==1.6.0
cnxml==3.0.1
gunicorn==19.9.0
hupper==1.6.1
idna==2.8
jsonref==0.2
jsonschema==3.0.1
kombu==4.5.0
lxml==4.3.3
msgpack-python==0.5.6
PasteDeploy==2.0.1
plaster==1.0
plaster-pastedeploy==0.7
psycopg2==2.8.2
pyramid==1.10.4
pyramid-swagger==2.7.0
python-dateutil==2.8.0
python-magic==0.4.15
pytz==2019.1
PyYAML==5.1
repoze.lru==0.7
requests==2.22.0
rhaptos.cnxmlutils==1.5.0
sentry-sdk==0.8.0
simplejson==3.16.0
six==1.12.0
SQLAlchemy==1.3.3
structlog==19.1.0
swagger-spec-validator==2.4.3
translationstring==1.3
urllib3==1.25.2
venusian==1.2.0
vine==1.2.0
waitress==1.3.0
WebOb==1.8.5
zope.deprecation==4.4.0
zope.interface==4.6.0
