amqp==2.3.2
appdirs==1.4.3
Beaker==1.10.0
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
cnx-archive==4.6.0
cnx-db==2.7.0
cnx-easybake==1.1.0
cnx-epub==0.14.0
cnx-publishing==0.14.1
cnx-query-grammar==0.2.2
cnx-recipes==1.20.0
cssselect==1.0.3
-e git+https://github.com/Connexions/cssselect2.git@129462767fe0161a2441f4aa341521c636e1a9e1#egg=cssselect2
db-migrator==1.1.0
funcsigs==1.0.2
hupper==1.4.2
idna==2.7
Jinja2==2.10
kombu==4.2.1
lxml==4.2.5
MarkupSafe==1.1.0
openstax-accounts==1.0.0
packaging==18.0
parsimonious==0.8.1
Paste==3.0.5
PasteDeploy==1.5.2
PasteScript==3.0.0
pkg-resources==0.0.0
plaster==1.0
plaster-pastedeploy==0.6
psycopg2==2.7.6.1
PyICU==2.2
pyparsing==2.2.2
pyramid==1.10.1
pyramid-jinja2==2.7
pyramid-multiauth==0.9.0
pyramid-sawing==1.1.3
pyramid-translogger==0.1
python-memcached==1.59
pytz==2018.7
PyYAML==3.13
repoze.lru==0.7
requests==2.20.1
rhaptos.cnxmlutils==1.3.2
sanction==0.4.1
six==1.11.0
SQLAlchemy==1.2.14
tinycss2==0.6.1
translationstring==1.3
tzlocal==1.5.1
urllib3==1.24.1
venusian==1.1.0
vine==1.1.4
waitress==1.1.0
webencodings==0.5.1
WebOb==1.8.4
zope.deprecation==4.4.0
zope.interface==4.6.0
