argparse==1.4.0
Beaker==1.9.0
cnx-archive==3.4.0
cnx-db==1.5.1
cnx-easybake==1.0.0
cnx-recipes==1.5.0
cnx-epub==0.13.0
cnx-publishing==0.11.0
cnx-query-grammar==0.2.2
cssselect==1.0.3
-e git+https://github.com/Connexions/cssselect2.git#egg=cssselect2
db-migrator==1.1.0
funcsigs==1.0.2
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
openstax-accounts==1.0.0
parsimonious==0.8.0
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
psycopg2==2.7.4
pyramid==1.9.1
pyramid-jinja2==2.7
pyramid-multiauth==0.9.0
pyramid_sawing==1.1.3
pyramid-translogger==0.1
python-memcached==1.59
pytz==2018.3
repoze.lru==0.7
requests==2.18.4
rhaptos.cnxmlutils==1.3.0
sanction==0.4.1
tinycss2==0.6.1
translationstring==1.3
tzlocal==1.5.1
venusian==1.1.0
waitress==1.1.0
webencodings==0.5.1
WebOb==1.7.4
wsgiref==0.1.2
zope.deprecation==4.3.0
zope.interface==4.4.3
