[Unit]
Description=Varnish HTTP accelerator
Documentation=https://www.varnish-cache.org/docs/ man:varnishd

[Service]
Type=simple
EnvironmentFile=-/etc/default/varnish
LimitNOFILE={{ varnish.nfiles|default(131072) }}
LimitMEMLOCK={{ varnish.memlock|default(82000) }}
ExecStart=/usr/sbin/varnishd $DAEMON_OPTS
ExecReload=/usr/share/varnish/reload-vcl
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
