---
# Installs archive with all the dependencies.

# +++
# Prerequisites
# +++

# TODO Kill this dependency by prebuilding or using packaged versions
#      of the application/library.
- name: install build utilities
  become: yes
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - build-essential
    - git
    - libpq-dev
    - libxml2-dev
    - libxslt-dev
    - zlib1g-dev

- name: install postgres client
  become: yes
  apt:
    name: "postgresql-client-{{ postgres_version }}"
    state: present

# +++
# Install virtualenv(s)
# +++

- stat:
    path: "/var/cnx/venvs"
  register: venvs_dir

- name: ensure the venvs directory exists
  become: yes
  when: not venvs_dir.stat.exists
  file:
    path: "/var/cnx/venvs"
    state: directory
    mode: 0755
    owner: "{{ venvs_owner|default('www-data') }}"

- name: set the owner of venvs directory
  become: yes
  file:
    path: "/var/cnx/venvs"
    state: directory
    recurse: yes
    owner: "{{ venvs_owner|default('www-data') }}"

- name: create the archive virtualenv
  become: yes
  become_user: "{{ venvs_owner|default('www-data') }}"
  pip:
    name: pip
    virtualenv: "/var/cnx/venvs/archive"
    virtualenv_python: python2

# +++
# Install
# +++

- name: ensure /var/www exists
  become: yes
  file:
    path: "/var/www"
    state: directory
    mode: 0755
    owner: www-data
    group: www-data

- name: ensure /var/lib/cnx exists
  become: yes
  file:
    path: "/var/lib/cnx"
    state: directory
    mode: 0755
    owner: www-data
    group: www-data

- name: copy over requirements.txt
  become: yes
  copy:
    src: "{{ inventory_dir }}/files/archive-requirements.txt"
    dest: "/var/lib/cnx/archive-requirements.txt"
    owner: www-data
    group: www-data
    mode: 0755

- name: install archive
  become: yes
  become_user: "{{ venvs_owner|default('www-data') }}"
  pip:
    requirements: "/var/lib/cnx/archive-requirements.txt"
    virtualenv: "/var/cnx/venvs/archive"

# +++
# Configure
# +++

- name: ensure the etc directories exists
  become: yes
  file:
    path: "/etc/{{ item }}"
    state: directory
    mode: 0755
  with_items:
    - cnx
    - cnx/archive

- name: render configuration
  become: yes
  template:
    src: "{{ item }}"
    dest: "/{{ item }}"
    mode: 0644
    owner: root
    group: root
  with_items:
    - "etc/cnx/archive/app.ini"
    - "etc/cnx/archive/logging.yaml"
    - "etc/cnx/archive/vars.sh"
  notify:
    - restart archive

# TODO make logging configuration files for pyramid_sawing

# +++
# Init service
# +++

- name: configure archive under supervisor
  become: yes
  template:
    src: etc/supervisor/conf.d/archive.conf
    dest: "/etc/supervisor/conf.d/archive.conf"
    mode: 0644
  notify:
    - reload supervisord

# +++
# Cron Configuration
# +++

- name: configure cron job for hits counting
  become: yes
  template:
    src: "etc/cron.weekly/count_archive_hits"
    dest: "/etc/cron.weekly/count_archive_hits"
    mode: 0755

- name: install archive instance restart cron script as workaround for unclosed connections
  become: yes
  copy:
    src: "etc/cron.daily/archive-restart"
    dest: "/etc/cron.daily/archive-restart"
    owner: root
    group: root
    mode: 0750

# +++
# Rsyslog Configuration
# +++

- name: connect archive log to rsyslog
  become: yes
  template:
    src: "etc/rsyslog.d/10-archive.conf"
    dest: "/etc/rsyslog.d/10-archive.conf"
    mode: 0644
  notify:
    - set up supervisor logs
    - restart rsyslog
  tags:
    - archive-rsyslog
