argparse==1.4.0
Beaker==1.9.0
cnx-archive==2.5.1
cnx-db==0.6.0
cnx-epub==0.10.0
cnx-query-grammar==0.2.2
db-migrator==0.2.0
funcsigs==1.0.2
Jinja2==2.9.6
lxml==3.8.0
MarkupSafe==1.0
parsimonious==0.7.0
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
psycopg2==2.7.1
pyramid==1.6a2
pyramid-jinja2==2.6.2
pyramid-multiauth==0.8.0
pyramid-translogger==0.1
python-memcached==1.53
pytz==2017.2
repoze.lru==0.6
requests==2.7.0
rhaptos.cnxmlutils==1.2
sanction==0.4.1
translationstring==1.3
tzlocal==1.1.3
venusian==1.0
waitress==1.0.2
webencodings==0.5
WebOb==1.5.0a1
wsgiref==0.1.2
zope.deprecation==4.1.2
zope.interface==4.1.2
