[Unit]
Description=Varnish HTTP accelerator log daemon
After=varnish.service

[Service]
EnvironmentFile=-/etc/default/legacy-varnishlog
User={{  legacy_varnish.user|default('varnishlog') }}
Group={{  legacy_varnish.group|default('varnish') }}
ExecStart=/usr/bin/varnishlog $DAEMON_OPTS
ExecReload=/bin/kill -HUP $MAINPID
PrivateDevices=true
PrivateNetwork=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=always

[Install]
WantedBy=multi-user.target
